{% load static %}

<section id="my-stroy-section">
  <div class="container">
     <div class="row">
        <div class="col-sm-4">
            <img src="{% static 'img/story-img.jpg' %}" id="stroy-img">
        </div>
        <div class="col-sm-8" id="stroy-text-box">
            <p id="stroy-title">THE STORY ABOUT US</p>
            
              <hr class="red-line">
            <div>
            <p id="stroy-subtitle">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.</p>
            </div>  
            <p id="stroy-description">The point of using Lorem Ipsum is that it has amore or less normal distribution of letters as opposed to using making it look like anes readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text and a search for there many web sites have 
            over the years.</p>
            <div class="col-sm-4 col-xs-4 story">
               <i class="fa fa-mobile"></i>
               <p id="icon-text"> 01. Retina Ready</p>
            </div>
            <div class="col-sm-4 col-xs-4 story">
              <i class="fa fa-wrench"></i> 
              <p id="icon-text"> 02. Easy to Customize</p>
            </div>
            <div class="col-sm-4 col-xs-4 story">
              <i class="fas fa-pencil-alt"></i>
              <p id="icon-text"> 03. Unique design</p>
            </div>
        </div>
     </div>
  </div> 
</section><!--           /My stroy        -->