{% load static %}
<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<title>Arman academy</title>
    <link rel="icon" href="{% static 'img/logo-small.png' %}" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href='http://fonts.googleapis.com/css?family=Raleway:200,400,600' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Palanquin+Dark" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/component.css' %}" />
    <link rel="stylesheet" href="{% static 'css/baguetteBox.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-gallery.css' %}">

	</head>
	<body>
       
    <section id="menu">
     <div class="container">
    	   <div class="row">
           <div class="col-sm-12">
              <div class="col-sm-3">
                  <a href="#"><img src="{% static 'img/logo.png' %}" id="main-logo"></a>
              </div>
              <div class="col-sm-7">
                  <ul id="main-menu-bar">
                     <li><a href="#">HOME</a></li>
                     <li><a href="#">ABOUT</a></li>
                     <li><a href="#">Services</a></li>
                     <li><a href="#"> PORTFOLIO </a></li>
                     <li><a href="#">Pages</a></li>
                     <li><a href="#">BLOG</a></li>
                     <li><a href="#">CONTACT</a></li>
                  </ul>
              </div>
              <div class="col-sm-2">
                  <ul id="logo-menu-bar">
                     <li><a><i class="fab fa-behance"></i></a></li>
                     <li><a><i class="fab fa-facebook-f"></i></a></li>
                     <li><a><i class="fab fa-twitter"></i></a></li>
                     <li><a><i class="fab fa-dribbble"></i></a></li>
                  </ul>
              </div>
           </div>
    	   </div>
    	 </div> 
    </section><!--       /Main menu    -->

    <section id="mobile-menu-bar">

    	    <div id="mobile-menu-part">
              <a href="#"><img src="{% static 'img/logo.png' %} id="main-logo"></a>
             <button id="side-menu" class="side-menu">
                  <i class="fa fa-bars side-menu-bar"></i>
              </button>
    	    </div>
    	    
        <ul id="mobile-menu">
            <a href="#"><li><p>HOME<p></li></a>
            <a href="#"><li><p>ABOUT</p></li></a>
            <a href="#"><li><p>SERVICES</p></li></a>
            <a href="#"><li><p>PORTFOLIO</p></li></a>
            <a href="#"><li><p>PAGES</p></li></a>
            <a href="#"><li><p>BLOG</p></li></a>
            <a href="#"><li><p>CONTACT</p></li></a>
        </ul>
    </section><!--       /Mobile menu    -->


    {% block content %}

    {% endblock %}


    <section>
       <div class="container-fluid">
         <div class="row">
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-1.jpg' %}">
            </div>
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-2.jpg' %}">
            </div>
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-3.jpg' %}">
            </div>
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-4.jpg' %}">
            </div>
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-5.jpg' %}">
            </div>
            <div class="col-sm-2 col-xs-6 img-row-list">
                <img src="{% static 'img/photo-6.jpg' %}">
            </div>
          </div>  
        </div>  
      </section> --><!--           /gallery-row  --> 



    <section id="footer-section">
      <div class="container">
           <div class="row">
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">ABOUT US</p>
                 <p id="footer-row-des">At vero eos et accusamus et iusto stagnismos ducimus os quidtiiss praetium ptatu mole deeniti .</p>
                 <div id="footer-text-box">
                   <i class="fa fa-map"></i>
                   <span>10th Floor,Washington Square Park, NY, United States.</span>
                 </div>
                  <div id="footer-text-box">
                   <i class="fa fa-envelope"></i>
                   <span>Support@domain.com</span>
                 </div>
                  <div id="footer-text-box">
                   <i class="fa fa-phone"></i>
                   <span>(004)+ 124 45 78 678</span>
                 </div>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title" class="link-title">LINKS</p>
                 <ul id="footer-list">
                    <li><i class="fa fa-chevron-right"></i><span>Home</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>About us</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Services</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Features</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Portfolio</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Blog</span></li>
                    <li><i class="fa fa-chevron-right"></i><span>Contact</span></li>
                 </ul>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">Social Media</p>
                 <ul id="footer-social-list">
                    <li><a><i class="fab fa-behance"></i></a></li>
                    <li><a><i class="fab fa-facebook-f"></i></a></li>
                    <li><a><i class="fab fa-twitter"></i></a></li>
                    <li><a><i class="fab fa-dribbble"></i></a></li>
                 </ul>
              </div>
              <div class="col-sm-3" id="footer-box-part">
                 <p id="footer-row-title">NEWSLETTER</p>
                 <p id="footer-row-des">Subscribe Our Newsletter get the Important News. The Amazing Offers & Inside Scoops:</p>
                 <input type="" name="" placeholder="Email Address" id="footer-input"><a id="footer-button"><i class="fas fa-search"></i></a>
              </div>
           </div>
      </div>
    </section><!--           /footer     -->


	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="{% static 'js/modernizr.custom.js' %}"></script>
		<script src="{% static 'js/classie.js' %}"></script>
		<script src="{% static 'js/boxesFx.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/baguetteBox.js' %}"></script>
    <script>
    baguetteBox.run('.tz-gallery');
    </script>
		<script>
			new BoxesFx( document.getElementById( 'boxgallery' ) );
		</script>
	</body>
</html>