{% load static %}

<section id="our-client">
  <div class="container">
     <div class="row">
         <div id="our-services-text-box">
            <p id='our-client-small-title'>OUR CLIENTS</p>
            <p id='our-client-big-title'>CLIENTS WORK WITH US</p>
            <hr id="our-client-line"/>
            <p id="our-client-disc">“A shadowy flight into the dangerous world of a man who does not exist. We're gonna do it. On your mark get set . Got a dream and we just know now we're gonna make our dream come true! Why do we always come here guess well never know. Its like a kind of torture to have to watch the show.”</p>
         </div>

         <div class="col-sm-3" id="client-img">
             <img src="{% static 'img/c-img-1-1.png' %}">
         </div>
         <div class="col-sm-3" id="client-img">
             <img src="{% static 'img/c-img-1-2.png' %}">
         </div>
         <div class="col-sm-3" id="client-img">
             <img src="{% static 'img/c-img-1-3.png' %}">
         </div>
         <div class="col-sm-3" id="client-img">
             <img src="{% static 'img/c-img-1-2.png' %}">
         </div>
         

     </div>
  </div>
</section>          <!--   /our-client    -->