{% extends "index/base.html" %}
{% load static %}
	
	{% block content %}

	   <div class="container">
  			<!-- Top Navigation -->
  			<div id="boxgallery" class="boxgallery" data-effect="effect-1">
  				{% for object in slider %}
  				<div class="panel"><img src="{{ object.slider_img.url }}" alt="Image 1"/></div>
  				{% endfor %}
  			</div>
  			<header class="codrops-header">
  				<h1> dream big act </h1>
  				<h1 id='second-title'> small begin now  </h1>
  				<span>follow your dreams and reach for the stars</span>
  				<div id="button-group">
  					<a id="learn-more-button">Learn More</a>
  					<a id="buy-more-button">Buy it now</a>
  			    </div>		
  			</header>
		  </div><!--       /Main Slider   -->

		  {% include 'index/about-us.html' %}
  
		  {% include 'index/our-service.html' %}

	    <section id="img-gallery">
	      <div class="container" id="gallery-container">
	         <div class="row">
	             <div id="our-services-text-box">
	                <p id='our-services-small-title'>OUR AMAZING WORKS</p>
	                <p id='our-services-big-title'>LET US BLOW YOUR MIND</p>
	                <hr id="our-services-line"/>
	                <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
	             </div>

	             <div class="tz-gallery">
	             	{% for object in gallery %}
	                <div class="col-xs-6 col-md-4" id="home-gallery-img-box">
	                <a class="lightbox" href="{{ object.gallery.url }}">
	                    <img src="{{ object.gallery.url }}" alt="Bridge">
	                </a>
		            </div>
		            {% endfor %}
	             </div>  --><!-- gallery-img-inside -->
	          </div>
	       </div>
	    </section> --><!--           /our-gallery-imag      -->

	    <section id="more-gallery-image">
	     <div class="container">
	      <div class="row">
	         <div class="col-sm-6 col-xs-8">
	           <div class="col-sm-1 col-xs-2">
	            <i class="fa fa-pencil" "=""></i>
	           </div>
	           <div class="col-sm-10 col-xs-10">
	             <p id="more-gallery-title">WANT TO SEE MORE AMAZING WORKS?</p>
	           </div>   
	         </div>
	         <div class="col-sm-6 col-xs-4" id="view-more-box">
	            <a href="portfolio.html"><span id="view-more-text">View More</span><span id="more-icon">+</span></a>
	         </div>
	      </div>
	     </div> 
	    </section>      <!--     /our-gallery-imag      -->

	    <section id="our-team">
	      <div class="container">
	         <div class="row">
	             <div id="our-services-text-box">
	                <p id='our-services-small-title'>WE PUT OUR PEOPLE FIRST</p>
	                <p id='our-services-big-title'>MEET OUR CREATIVE TEAM</p>
	                <hr id="our-services-line"/>
	                <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
	             </div>

	             {% for object in employe %}
	             <div class="col-xs-12 col-sm-4 our_team_number_box1" >
	                 <div id="our_team_number_des1">
	                     <p id="our_team_number_name">{{ object.emp_name }}</p>
	                     <p id="our_team_number_position">{{ object.emp_position }}</p>
	                 </div>
	                 <img src="{{ object.emp_photo.url }}" id="our_team_number_image">
	             </div>
	             {% endfor %}
	         </div>
	      </div>
	    </section> --><!--           /our-team     -->

	    {% include 'index/ourfeaters.html' %}

	    <section id="build-brand-section">
	      <div class="container">
	         <div class="row">
	            <div class="col-sm-6" id="build-bran-text-box">
	               <p id="stroy-title">Building Brands on the Website</p>
	                
	                  <hr class="red-line">
	                <div>
	                <p id="build-brand-sub">High Resolution Graphics</p>
	                </div>  
	                <p id="build-brand-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ante ex fermentum vel libero eget interdum semper libero. Curabitur egestas velit velitarcu id tempor convallis.Cras dignissim, diam vitae ornare molestiete ligula magna imperdiet velit volutpat tortor.</p>
	                <p id="build-brand-button">purchase now</p>
	            </div>
	            <div class="col-sm-6">
	               <img src="{% static 'img/i-bundle.jpg' %}" id="build-brand-img" class="img-responsive">
	            </div>
	         </div>
	      </div>
	    </section>

		{% include 'index/client.html' %}    

    {% endblock %}