{% extends "index/base.html" %}


{% block content %}

      
       <section id="about-section">
          <div id="about-text-box">
            <p id='about-page-title'>services</p>
            <span id='home-page-link'><a href="index.html">Home</a></span><span>/</span><span id='about-page-link'><a>Services</a></spna>
          </div>  
       </section><!--       /About    -->

	
       {% include 'services/best-service.html' %} 



       <section id="services-number-section">
          <div class="container">
             <div class="row">
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      500
                      <i class="fas fa-anchor"></i>
                   </span>
                   <p id="serveice-number-des">Project Completed</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      254 
                      <i class="fas fa-pencil-ruler"></i>
                   </span>
                   <p id="serveice-number-des">Line Of Codes</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      184
                      <i class="far fa-heart"></i>
                   </span>
                   <p id="serveice-number-des">Happy Clients</p>
                   <hr id="serveice-number-line">
                </div>
                <div class="col-sm-3" id="number-icon-box-main">
                   <span id="number-icon-box">
                      35k
                      <i class="fas fa-bicycle"></i>
                   </span>
                   <p id="serveice-number-des">Km Drive</p>
                   <hr id="serveice-number-line">
                </div>
             </div>
  plan_name       </div> 
       </section><!--           /NUMBER SECTION      --> 

       {% include 'index/ourfeaters.html' %}



      <section id="our-plane">
        <div class="container">
           <div class="row">
               <div id="our-services-text-box">
                  <p id='our-services-small-title'>CHOOSE YOURS</p>
                  <p id='our-services-big-title'>OUR PRICING PLAN</p>
                  <hr id="our-services-line"/>
                  <p id="our-services-disc">We are driven by creating experiences that deliver results for your business and for your consumers. Our approach is simple and iterative.Sed ut perspiciatis unde omnis.</p>
               </div>
              
              {% for object in unlimited_plan %}
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>{{ object.plan_name }}</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">{{ object.plan_pay }}</span><span id="our-plan-price-mon">Per Month</span>

                      </li>
                      {% for item in object.plan_feature.all  %}
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">{{ item.feature }}</span></li>
                      {% endfor %}
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>

             {% endfor %}


             {% for object in premium_plan %}
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>{{ object.plan_name }}</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">{{ object.plan_pay }}</span><span id="our-plan-price-mon">Per Month</span>

                      </li>
                      {% for item in object.plan_feature.all  %}
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">{{ item.feature }}</span></li>
                      {% endfor %}
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>

             {% endfor %}

             {% for object in advance_plan %}
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>{{ object.plan_name }}</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">{{ object.plan_pay }}</span><span id="our-plan-price-mon">Per Month</span>

                      </li>
                      {% for item in object.plan_feature.all  %}
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">{{ item.feature }}</span></li>
                      {% endfor %}
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>

             {% endfor %}

             {% for object in basic_plan %}
              <div class="col-sm-3" id="our-plan-price-col">
                   <ul id="basic-plan-list">
                      <li id="our-plan-name">
                        <span>{{ object.plan_name }}</span>
                      </li>
                      <li id="our-plan-price">
                      <span>$</span><span id="our-plan-main-price">{{ object.plan_pay }}</span><span id="our-plan-price-mon">Per Month</span>

                      </li>
                      {% for item in object.plan_feature.all  %}
                      <li><span><i class="fa fa-chevron-right list-choose"></i></span><span id="our-plan-price-listall">{{ item.feature }}</span></li>
                      {% endfor %}
                      <li id="button-list-row"><span id="our-plan-price-button">BUY NOW</span></li>
                   </ul>
              </div>

             {% endfor %}

           </div>
        </div>
      </section><!--           /Our plane     -->



      {% include 'index/client.html' %} 

{% endblock %}